<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary py-2" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['home']">CountriesApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" [routerLink]="['home']">Home</a>
        </li>
        <span class="text-light mt-2">|</span>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" [routerLink]="['search']">Búsqueda por nombre</a>
        </li>
        <span class="text-light mt-2">|</span>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" [routerLink]="['country/new']">Crear País</a>
        </li>
        <span class="text-light mt-2">|</span>
        <li class="nav-item" routerLinkActive="active">
          <button type="button" class="position-relative nav-link" [routerLink]="['favorites']">
            Favoritos
            <span class="position-absolute start-100 translate-middle badge rounded-pill bg-success">
              {{favoritesCounter}}
            </span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
